---
interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">DH7</a>
        <a href="/blog">Writing</a>
        <a href="/integrations">Integrations</a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>Damien Hampton</p>
    </footer>
  </body>
</html>
